<div class="row">
  <div class="col-sm">
    <h1>Edit <%= link_to @item.name, item_path(@item) %>'s properties</h1>
  </div>
</div>

<!-- rewrite with vue.js -->
<!-- <pox-props-editor>
  // $on form-prop-created, update form-props list used in pox-item-props
  <pox-form-props-editor>
    // create or edit
    // have a select input to choose a form props to edit
    // or create one
    // -> $emit form-prop-created
  </pox-form-props-editor>

  <pox-item-props
    :item_props='form_props'
    >
    GET value of form-prop for item
    -> value || nil
    <pox-item-prop>
      // $on item-prop-created, update item-prop-value
      <pox-item-prop-value></pox-item-prop-value>
      <pox-item-prop-form>
        -> $emit item-prop-created
      </pox-item-prop-form>

    </pox-item-prop>

  </pox-item-props>
</pox-props-editor> -->

<div class="row">
  <div class="col-sm">
    <div class="row">
      <div class="col-sm">
        <div id="item_properties">
          <% FormProperty.all.order(id: :desc).each do |fp| %>
            <div class="row mb-3">
              <%= render 'properties/show', fp: fp, item: @item %>
            </div>
          <% end %>
        </div>

      </div>

      <div class="col-sm-4">
        <%= render 'form_properties/form', item: @item %>
      </div>

    </div>
  </div>
</div>

