<div class="row mt-5">
  <div class="col-sm">
    <div class="jumbotron text-center">
      <h2>Welcome to Polycrox</h2>
      <small>polycutlure, crop rotation, square foot gardening, permactulture</small> 
    </div>
  </div>
</div>