<h1>Library</h1>

<p>
<a target="_blank" href="https://docs.google.com/document/d/1mk-ZIsUZqHLr4eXLW_l4ljQ2UiOBQBScXcVYfmvsClg/edit?usp=sharing">How to make a compost pile - google document</a>
<br />
<a target="_blank" href="https://en.wikipedia.org/wiki/List_of_companion_plants">List of companion plants</a>
<br />

<a target="_blank" href="library/GrowingGuide2010.pdf">Square Foot Gardening</a>

<br />
<a target="_blank" href="http://www.permaculturefundamentals.com/?p=36">Permaculture ethics</a>