<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @garden.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @garden.location %>
</p>


<!-- <h3>Garden's crops</h3> -->
<%# @garden.crops.each do |crop| %>
  <!-- id <%#= crop.id %> -->
  <%#= crop.date %>
  
<%# end %>

<hr />
<%#= link_to 'Edit', edit_garden_path(@garden) %> |
<%#= link_to 'Back', gardens_path %>


<%#= render template: 'plots/index' %>