<div class="row mb-4">  
  <div class="col-sm card">
    <h2>Square Foot Gardening</h2>

    <pox-sqf-editor
      :item='<%= @item.to_json(include: :groups) %>'>
      
    </pox-sqf-editor>

  </div>
</div>
