<div class="row">
  <div class="col-sm">
    <h1><%= @item.name %></h1>
  </div>
</div>

<%= render 'properties', item: @item %>

<%= render 'groups', item: @item %>

<%= render 'relationships', item: @item %>

<div class="row mb-4">  
  <div class="col-sm card">
    <h2>Square Foot Gardening</h2>
  </div>
</div>









<div class="row mb-4">
  <div class="col-sm card">
    <h2>Notes</h2>
  </div>  
</div>
